@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

nav {
  width: 100%;
  height: 10vh;
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 40px;
}

.logo_img {
  height: 40px;
  margin: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  column-gap: 40px; /*Column-gap kan användas istället för att sätta margin på li*/
}

li {
  cursor: pointer;
}

.nav_btn {
  background-color: #4c64ff;
  padding: 5px 20px;
  border: 1px solid #4c64ff;
  border-radius: 20px;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}

.nav_btn:hover,
.application_btn:hover {
  background-color: rgba(22, 23, 27, 0.2);
  color: #98a7f6;
  border: 1px solid #4c64ff;
}

a:hover {
  color: #98a7f6;
}

.hero {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
}

.hero_text {
  font-weight: 600;
  font-size: 50px;
  max-width: 50%;
  margin: 10% 5%;
}

.sub_heading {
  font-weight: 500;
  margin: 5px 0px;
}

.application_btn {
  background-color: #4c64ff;
  padding: 5px 20px;
  border: 1px solid #4c64ff;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  margin: 15px 10px 0;
  font-size: 1.25rem;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10% 0%;
}

.about_img {
  max-width: 40%;
  height: auto;
  margin: 10px 40px;
  border-radius: 20px;
}

.subber_heading {
  font-weight: 400;
  margin: 5px 0px;
}

.about_text {
  margin-right: 60px;
  max-width: 50%;
}

.recommendations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0%;
  background-color: #c2c9ee;
}

.recommendations .sub_heading {
  margin-top: 40px;
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 5% 0%;
}

.card {
  width: 30%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card p {
  max-width: 70%;
}

.card_img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.first {
  background-image: url(./assets/paola-aguilar-O-FR79xcGh8-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.second {
  background-image: url(./assets/jonathan-safa-ITH_dM_RQLk-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.third {
  background-image: url(./assets/alexander-grey-VezbAkZlTGk-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.call_to_action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.call_to_action h2 {
  margin: 20px;
}

.big {
  font-size: 30px;
  border-radius: 30px;
  padding: 10px 30px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.footer_logo {
  width: 100px;
  height: 100px;
}

.footer_list {
  list-style: none;
}

.footer_list li {
  margin: 5px;
}

.address_heading {
  font-style: normal;
}

@media (max-width: 650px) {
  .header__content {
    flex-direction: column;
    padding: 25px 0px;
    row-gap: 18px;
  }
  .nav__list {
    column-gap: 20px;
  }
}
